h1 {
  text-align: center;
  color: black;
  font-size: 48px;
}

h2 {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
table {
  font-size: 30px;
}
th {
  text-align: center;
}

body {
  background-color: #BB94C9;
}

.button {
  background-color: #FFA500; /* Orange */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}
